<%

var mdata = {
    type: cfg.type,
};


var processedcfg = {mdata: mdata};

globalInfo.setReturn({processedcfg: processedcfg});
%>
#ifndef BRIDGEINSU_TMPL_H
#define BRIDGEINSU_TMPL_H

#include "BridgeInsu.h"


#define BRIDGEINSU_MOS_OFF  0xFFU

#define BRIDGEINSU_TYPE     BRIDGEINSU_MOS_<%- mdata.type%>

#endif