<%


var ChargerMsg = {
    Default: {
        tx: [{id: 0x9806E5F4, def: "USER_TC"},{id: 0x9800FFF4, def: "USER_TC1"}],
        rx: [{id: 0x98FF50E5, def: "USER_TC"}],
    },
    UDAN: {
        tx: [{id: 0x9806E5F4, def: "USER_TC"},{id: 0x9800FFF4, def: "USER_TC1"}],
        rx: [{id: 0x98FF50E5, def: "USER_TC"}],
    },
    "DongYaoV2.0": {
        tx: [{id:0x00000272, def:"USER_TC"}],
        rx: [{id:0x00000227, def:"USER_TC"}],
    },
    ShiNeng: {
        tx: [{id: 0x111, def: "USER_TC"}, {id:0x115, def:"USER_TC1"}],
        rx: [{id: 0x112, def: "USER_TC"}],
    },
    "UDAN_KaiYuan_DongYaoV1.0": {
        tx: [{id: 0x9806E5F4, def: "USER_TC"}],
        rx: [{id: 0x98FF50E5, def: "USER_TC"}],
    },
    UDAN_ShiNeng: {
        tx: [{id: 0x9806E5F4, def: "USER_TC"},{id: 0x9800FFF4, def: "USER_TC1"}, {id:0x111, def:"USER_SN"}, {id:0x115, def:"USER_SN1"}],
        rx: [{id: 0x98FF50E5, def: "USER_TC"}, {id: 0x112, def: "USER_SN"}],
    },
    "YiJiaTongV2.0": {
        tx: [{id:0x00000272, def:"USER_TC"}],
        rx: [{id:0x00000227, def:"USER_TC"}],
    },
    QianGaiLi: {
        tx: [{id: 0x111, def: "USER_TC"}, {id:0x115, def:"USER_TC1"}],
        rx: [{id: 0x112, def: "USER_TC"}],
    },
    "BanYiTong_Chg_V1.2": {
        tx: [{id: 0x1F4, def: "USER_TC"},{id: 0x2F4, def: "USER_TC1"},{id: 0x7F4, def: "USER_TC2"}],
        rx: [{id: 0x112, def: "USER_TC"}],
    },
    "ADY_V1.1": {
        tx: [{id: 0x9806E5F4, def: "USER_TC"}],
        rx: [{id: 0x98FF50E5, def: "USER_TC"}],
    },
    "CAN2.0C": {
        tx: [{id: 0x246, def: "USER_TC"}],
        rx: [{id: 0x357, def: "USER_TC"}],
    },
    TieCheng_Soc: {
        tx: [{id: 0x9806E5F4, def: "USER_TC"}],
        rx: [{id: 0x98FF50E5, def: "USER_TC"}],
    },
    LongGong_Chg: {
        tx: [{id: 0x9807E5F4, def: "USER_TC"},{id: 0x9800FFF4, def: "USER_TC1"}],
        rx: [{id: 0x98FD50E5, def: "USER_TC"}],
    },
    ShiNeng_Heat: {
        tx: [{id: 0x111, def: "USER_TC"}, {id:0x115, def:"USER_TC1"}],
        rx: [{id: 0x112, def: "USER_TC"}],
    },
    XuGong_20190821: {
        tx: [{id: 0x9806E5F4, def: "USER_TC"},{id: 0x9800FFF4, def: "USER_TC1"}],
        rx: [{id: 0x98FF50E5, def: "USER_TC"}],
    },
    HaoSheng: {
        tx: [{id: 0x9806E5F4, def: "USER_TC"},{id: 0x9800FFF4, def: "USER_TC1"}],
        rx: [{id: 0x98FF50E5, def: "USER_TC"}],
    },
};

var VcuMsg = {
    Default: {
        tx: [0x2F4, 0x4F4, 0x5F4, 0x7F4],
        rx: [0x12345678],
    },
    UDAN: {
        tx: [0x1E1, 0x1E4, 0x1F3, 0x1F5, 0x360, 0x361, 0x208, 0x351, 0x358, 0x352, 0x353, 0x354, 0x355, 0x3F6, 0x211, 0x1F4, 0x356, 0x357, 0x3F3, 0x3F4, 0x3F5, 0x3FF, 0x201, 0x202, 0x205, 0x206, 0x207, 0x203, 0x204],
        rx: [0x12345678],
    },
    QianTuo_CAN20A_125K: {
        tx: [0x2F4, 0x4F4, 0x5F4, 0x7F4],
        rx: [0x12345678],
    },
    QianTuo_CAN20B_250K: {
        tx: [0x98FFA2F4, 0x98FFA4F4, 0x98FFA5F4, 0x98FFAFF4],
        rx: [0x12345678],
    },
    "QianTuo_CAN20A_125K_V1.02": {
        tx: [0x2F4, 0x4F4, 0x5F4, 0x7F4],
        rx: [0x12345678],
    },
    CHOLIFT: {
        tx: [0x244, 0x444, 0x447, 0x446],
        rx: [0x12345678],
    },
    CAN_1232E_201809: {
        tx: [0x1F1, 0x1F2],
        rx: [0x12345678],
    },
    "ZOWELL_V2.0": {
        tx: [0x2F0],
        rx: [0x12345678],
    },
    "XianFeng_V3.0": {
        tx: [0x98FFA2F4, 0x98FFA4F4, 0x98FFA5F4, 0x98FFAFF4],
        rx: [0x12345678],
    },
    BaoLi: {
        tx: [0x241],
        rx: [0x12345678],
    },
    "BanYiTong_Vcu_V1.2": {
        tx: [0x2F4, 0x4F4, 0x5F4, 0x7F4, 0x207],
        rx: [0x12345678],
    },
    RuYi_Vcu: {
        tx: [0x2F0],
        rx: [0x12345678],
    },
    "CAN2.0F": {
        tx: [0x200, 0x201, 0x202, 0x203, 0x190, 0x5F2],
        rx: [0x6F2],
    },
    BaoLi_20200622: {
        tx: [0x241],
        rx: [0x12345678],
    },
    Vcu_250k: {
        tx: [0x630],
        rx: [0x12345678],
    },
    "BMS_CAN_3.0": {
        tx: [0x013],
        rx: [0x12345678],
    },
    LongGong_Vcu: {
        tx: [0x460, 0x244, 0x344, 0x444, 0x447, 0x446],
        rx: [0x12345678],
    },
    XuGong_20190821: {
        tx: [0x444, 0x244],
        rx: [0x12345678],
    },
    YuFeng_24V: {
        tx: [0x1AC],
        rx: [0x12345678],
    },
    YuFeng_80V: {
        tx: [0x1AC],
        rx: [0x12345678],
    },
    KaTe_20200812: {
        tx: [0x2F0],
        rx: [0x370],
    },
    XuGong_20211120: {
        tx: [0x2F0, 0x2F1, 0x2F2, 0x2F3, 0x244, 0x444],
        rx: [0x12345678],
    },
    Megamette_V1: {
        tx: [0x181, 0x281],
        rx: [0x394],
    },
};

if (!ChargerMsg.hasOwnProperty(cfg.chg)) {
    throw "Can not find Charger support for " + cfg.chg;
}

if (!VcuMsg.hasOwnProperty(cfg.vcu)) {
    throw "Can not find VCU support for " + cfg.chg;
}

var chgpgs = [];
var vcupgs = [];

var rxpdus = [];
var txpdus = [];


for (var x of ChargerMsg[cfg.chg].tx) {
    chgpgs.push({id:x.id, type:"stx"});
    var sid = "00000000" + x.id.toString(16).toUpperCase();
    sid = sid.slice(-8);
    txpdus.push({upper:["ChargerComm", x.def], middle:["J1939Tp", "Charger_ID_" + sid]})
}

for (var x of ChargerMsg[cfg.chg].rx) {
    chgpgs.push({id:x.id, type:"srx"});
    var sid = "00000000" + x.id.toString(16).toUpperCase();
    sid = sid.slice(-8);
    rxpdus.push({upper:["ChargerComm", x.def], middle:["J1939Tp", "Charger_ID_" + sid]})
}


for (var x of VcuMsg[cfg.vcu].tx) {
    vcupgs.push({id:x, type:"stx"});
    var sid = "00000000" + x.toString(16).toUpperCase();
    sid = sid.slice(-8);
    txpdus.push({upper:["VcuComm", sid], middle:["J1939Tp", "Vcu_ID_" + sid]})
}

for (var x of VcuMsg[cfg.vcu].rx) {
    vcupgs.push({id:x, type:"srx"});
    var sid = "00000000" + x.toString(16).toUpperCase();
    sid = sid.slice(-8);
    rxpdus.push({upper:["VcuComm", sid], middle:["J1939Tp", "Vcu_ID_" + sid]})
}


globalInfo.setReturn({
    chg:cfg.chg,
    vcu:cfg.vcu,
    J1939: {
        chgpgs: chgpgs,
        vcupgs: vcupgs,
    },

    PduR: {
        rxpdus: rxpdus,
        txpdus: txpdus,
    }
});
%>
/*

chgpgs: <%- JSON.stringify(chgpgs) %>
vcupgs: <%- JSON.stringify(vcupgs) %>
rxpdus: <%- JSON.stringify(rxpdus) %>
txpdus: <%- JSON.stringify(txpdus) %>
*/