<%
var powernameindex = [
    "dchgcontinues", "dchgpeak", "dchgfb", "chgcontinues", "dcchg", "acchg", "heater", "extern",
];
var index = 0;
for (var powername in cfg) {
    if (powername != "notes") {
        power = cfg[powername];
        if (powernameindex[index] != powername) throw 'powerm名称及次序不能改变:"dchgcontinues", "dchgpeak", "dchgfb", "chgcontinues", "dcchg", "acchg", "heater", "extern"'
        if (power.soc.length * power.temp.length != power.current.length) throw "表格数据长度异常"
        if (power.soc.length * power.tempAlt.length != power.current.length) throw "表格数据长度异常"
        index++;
    }
}
%>
/*lint -e* -w0*/

#include "PowerM.h"
#include "Soc.h"
#include "Statistic.h"


static Std_ReturnType thisSocGet(uint16 *v) {
    *v = Soc_Get();
    return Soc_SocIsValid(*v) ? E_OK : E_NOT_OK;
}
<%
for (var powername in cfg) {
    if (powername != "notes") {
        power = cfg[powername];
        if (power.hasOwnProperty('decrease')) {
            if (power.decrease.length > 0) {%>
static Std_ReturnType thisHvGet(uint16 *v) {
    *v = Statistic_GetBcuHvMax();
    return CellDataM_VoltageIsValid(*v) ? E_OK : E_NOT_OK;
}<%
        break;
        }
    }
%><%}
}
%>

<%
for (var powername in cfg) {
    if (powername != "notes") {
        power = cfg[powername];
%>

/*
====================================================
<%- powername %>
====================================================
*/
static uint16 const <%- powername %>socxvalue[] = {<%
    for (var soc of power.soc) {
        %>PERCENT_TO_SOC(<%- soc%>), <%
    }%>
};

static sint16 const <%- powername %>tempyvalue[] = {<%
    for (var temp of power.temp) {
        %>TEMPERATURE_FROM_C(<%- temp%>), <%
    }%>
};

static sint16 const <%- powername %>tempaltyvalue[] = {<%
    for (var tempAlt of power.tempAlt) {
        %>TEMPERATURE_FROM_C(<%- tempAlt%>), <%
    }%>
};

static uint16 const <%- powername %>tableValue[] = {<%
    for (var current of power.current) {
        %><%- current * 10%>U, <%
    }%>
};

<%
if (power.diag.length > 0) { %>
static const PowerM_DiagnosisPercentMapType <%- powername %>diag[] = { <%
        for (var diag of power.diag) { %>
    {
        DIAGNOSIS_ITEM_<%- diag.type %>, <%- diag.percent[0] %>U, <%- diag.percent[1] %>U, <%- diag.percent[2] %>U, <%- diag.percent[3] %>U,
    },
        <%} %>
};
#define <%- powername %>diag_SIZE   (ARRAY_SIZE(<%- powername %>diag)) <%
} else { %>
#define <%- powername %>diag        NULL
#define <%- powername %>diag_SIZE   0U <%
} %>

<%
if (power.hasOwnProperty('decrease')) {
    if (power.decrease.length > 0) {
        for (var i = power.decrease.length - 1; i >= 0; i--) { %>
static const PowerM_ChargeEndConfigType <%- powername %>_<%- i%>_DecreaseCurrent = { <%
        if (i == (power.decrease.length - 1)) { %>
    &<%- powername %>_<%- i %>_DecreaseCurrent,
            <%} else { %>
    &<%- powername %>_<%- (i + 1) %>_DecreaseCurrent,
            <%} %>
    <%- power.decrease[i].startval %>,
    <%- power.decrease[i].delaytime %>UL,
    POWERM_CHARGE_END_DEC_<%- power.decrease[i].type %>,
        <%if (power.decrease[i].type.slice( -8) == "CONSTVAL") { %>
    CURRENT_100MA_FROM_A(<%- power.decrease[i].param %>),
            <%} else { %>
    <%- power.decrease[i].param %>,
                    <%} %>
    CURRENT_100MA_FROM_A(<%- power.decrease[i].minval %>),
}; <%
        }
chargeEndVal = power.decrease[0].startval %>
#define <%- powername %>decrease        (&<%- powername%>_0_DecreaseCurrent)
#define <%- powername %>_thisHvGet      (thisHvGet) <%
    } else {
chargeEndVal = 0 %>
#define <%- powername %>decrease        NULL
#define <%- powername %>_thisHvGet      NULL <%
    }
} else {
chargeEndVal = 0 %>
#define <%- powername %>decrease        NULL
#define <%- powername %>_thisHvGet      NULL <%
} %>


static const PowerM_ConfigParamType PowerMCur<%- powername %>ConfigTable = {
    ARRAY_SIZE(<%- powername %>socxvalue), /**< 功率控制表X轴分隔数量 */
    ARRAY_SIZE(<%- powername %>tempyvalue), /**< 功率控制表Y轴分隔数量 */
    <%- powername %>socxvalue, /**< 功率控制表X轴分隔表 */
    <%- powername %>tempyvalue, /**< 功率控制表Y轴分隔表 */
    <%- powername %>tempaltyvalue, /**< 功率控制表Y轴回滚分隔表 */
    <%- powername %>tableValue, /**< 各个分隔对应的值 */
    <%- power.config.yUseWhichValue%>, /**< 在yAxis和yAltAxis查询到的值取怎样取值，POWERM_YAXIS_USE_XX */
    <%- power.config.yAxisIncUseAlt%>U, /**< 在y轴增加时使用Alt表 */
    <%- power.config.xAxisSupportDir%>, /**< X轴支持变动方向 */
    <%- power.config.xAxisIsLinear%>U, /**< X轴区间线性插值 */
    (uint8)<%- powername %>diag_SIZE, /**<  诊断故障功率百分比数量 */
    <%- powername %>diag, /**<  断故障功率百分比表 */
    thisSocGet, /**< 获取X轴值的函数 */
    <%- power.config.increaseTime%>U, /**< 功率输出时增加斜率时间参数 */
    CURRENT_100MA_FROM_A(<%- power.config.increaseStep%>U), /**< 功率输出时增加斜率步进参数 */
    <%- power.config.decreaseTime%>U, /**< 功率输出时减小斜率时间参数 */
    CURRENT_100MA_FROM_A(<%- power.config.decreaseStep%>U), /**< 功率输出时减小斜率步进参数 */
    <%- chargeEndVal%>U, /**< 充电末端X轴达到这个值时进入降流阶段 */
    <%- powername %>decrease /* &dcDecreaseCurrent */, /**< 降流链表 */
    <%- powername %>_thisHvGet /* thisHvGet */,  /**< 获取降流末端比较值函数 */
    NULL, /**< getChargeEndTable 获取降流链表，此函数配置后“chargeEndConfigs”和“getChargeEndCheckVal”将不起作用 */
    NULL, /**< 计算出目标值之后，使用改函数修改目标电流值，可用于复杂降流策略，包含故障降流 */
    NULL, /**< 在复位降流表时，只用该函数复位用户层数据，一般与hook函数配合使用 */
    0UL, /**< 温度改变引起查表区域变化时的确认时间，单位ms */
    NULL, /**< 计算出查表电流值之后，使用改函数修改查表电流值，可用于复杂降流策略，不包含故障降流 */
};
<%
    }
}
%>


const PowerM_CurrentTypeType PowerMChannelNum = POWERM_CUR_TYPE_NUM;
const PowerM_CurrentTypeType PowerMChannelCurrentDC = POWERM_CUR_CHARGE_DC;
const PowerM_CurrentTypeType PowerMChannelCurrentAC = POWERM_CUR_CHARGE_AC;
const PowerM_CurrentTypeType PowerMChannelCurrentHeater = POWERM_CUR_CHARGE_HEATER;
const PowerM_ConfigParamType *const PowerMConfigParamMaps[POWERM_CUR_TYPE_NUM] = {
<%for (var powername in cfg) { if (powername != "notes") {%>    &PowerMCur<%- powername %>ConfigTable,
<%} }%>};

PowerM_InnerChannelDataType PowerMInnerChannelData[POWERM_CUR_TYPE_NUM];
