<%
var def = {
    allowedCurrent: 3,
    powerOnDelay: 2,
    checkCycle: 1800,
    diffSocMin: 0,
    calibStep: 5,
    linear_calib: "TRUE",
    isAllowFuncPtr: "NULL",
    temperature_linear: "TRUE",
};

var mdata = {
    en: cfg.enable,
    temp: cfg.temp,
    soc: cfg.soc,
    vol: cfg.vol,
    calibCycle: cfg.calibCycle,
    longCycle: cfg.longCycle,
};

var processedcfg = {mdata: mdata, def: def};

globalInfo.setReturn({processedcfg:processedcfg});
%>
#ifndef SOCOCVCALIB_LCFG_H
#define SOCOCVCALIB_LCFG_H


#define SOCOCVCALIB_EN      <%- mdata.en%>




#endif
