#ifndef CURRENTM_LCFG_H__
#define CURRENTM_LCFG_H__

<% if (!usersensor1_enable) { %>
#define USERCURRENTSENSOR1_TMPL    //模板给出定义
<% } %>
<% if (!usersensor2_enable) { %>
#define USERCURRENTSENSOR2_TMPL    //模板给出定义
<% } %>
#endif