<%
var processedcfg = globalInfo.Ntc.processedcfg;
%>
#include "ChgSckTmpM.h"
#include "Ntc_Lcfg.h"

<% for (var index = 0; index < processedcfg.temperatureSensors.length; index++) {
    sensor = processedcfg.temperatureSensors[index]; %>
static const uint16 NTC_<%- sensor.id %>_V4096[] = {<%
    var xindex = 0;
    for (var vol of sensor.vols) {
        if (xindex % 10 == 0) {%>
    <% } %><%- vol %>U, <%
        xindex++;
    } %>
};

const NTC_ConfigDataType NTC_<%- sensor.id %>_ConfigData = {
    NTC_<%- sensor.id %>,
    <%- sensor.start %>,
    (uint8)ARRAY_SIZE(NTC_<%- sensor.id %>_V4096),
    NTC_<%- sensor.id %>_V4096
};
<% } %>

/* <%- JSON.stringify(processedcfg.chgSckTempEnable) %> */
const ChgSckTmpM_ConfigType ChgSckTmpM_ConfigInfo = {
    {
    { <%- processedcfg.chgSckTempEnable.DC_POSITIVE %> },
    { <%- processedcfg.chgSckTempEnable.DC_NEGATIVE %> },
    { <%- processedcfg.chgSckTempEnable.AC_AL %> },
    { <%- processedcfg.chgSckTempEnable.AC_BN %> },
    { <%- processedcfg.chgSckTempEnable.AC_C %> },
    }
};

const NTC_ConfigDataType *const CellNTCConfigData = &NTC_<%- processedcfg.cellTempType %>_ConfigData;
const NTC_ConfigDataType *const DCChgSckNTCConfigData = &NTC_<%- processedcfg.dcChgSckTempType %>_ConfigData;
const NTC_ConfigDataType *const ACChgSckNTCConfigData = &NTC_<%- processedcfg.acChgSckTempType %>_ConfigData;
const NTC_ConfigDataType *const OnboardNTCConfigData = &NTC_Shiheng_CWF4B_103F_3435B_ConfigData;

/* <%- JSON.stringify(processedcfg.chgSckAdcToTempChannleMap) %> */
const uint8 ChgSckTmpM_AdcToTempChannelMap[] = { <%
for (var x of ['FCH_T1', 'FCH_T2', 'SCH_T1', 'SCH_T2', 'SCH_T3']) { %><%
    if (processedcfg.chgSckAdcToTempChannleMap.hasOwnProperty(x)) { %>
    CHGSCKTMPM_TEMPERATURE_<%- processedcfg.chgSckAdcToTempChannleMap[x] %>,   /* <%- x %> */ <%
    } else { %>
    CHGSCKTMPM_TEMPERATURE_CHANEL_NUM,   /* <%- x %> */<%
    } %><%
} %>
};
