<%
var processedcfg = globalInfo.RuntimeM.processedcfg;
%>

/*
<%- JSON.stringify(processedcfg, null, " ") %>
*/

#include "RuntimeM.h"<%
for (var v of processedcfg.powerOffNotifiers) {%>
#include "<%- v.inc %>"<%
}%>
#include "CanIf_Lcfg.h"

<% if (processedcfg.userIsWakeup.inc) { %>
#include "<%- processedcfg.userIsWakeup.inc %>"
<% } %>

static const RuntimeM_TaskNotifyType notifies[] = {<%
var i = 1;
for (var v of processedcfg.powerOffNotifiers) {%>
    { 1UL << <%- i %> /*uint32 bit*/, <%- v.func %> /*boolean (*kill)(RuntimeM_SignalType)*/},<%
    i++;
}%>
    { 0x00UL /*uint32 bit*/, NULL /*boolean (*kill)(RuntimeM_SignalType)*/},
};

const RuntimeM_ConfigType RuntimeM_ConfigData = {
    <%- processedcfg.powerDownConfirmCount %>U, /**< 确认下电信号计数 5ms/次 */
    <%- processedcfg.maxTimeForWaitTaskPowerdown %>U, /**< 等待低压下电的最大时间, 单位:毫秒 */
    notifies, /**< 需要等待的任务列表, */
    <%- processedcfg.timeOrDelayToWakeupForData %>, /**< 唤醒进行数据传输的时间参数是时刻还是延时, RUNTIMEM_WAKEUP_PARAM_IS_XX*/
    <%- processedcfg.timeOrDelayToWakeupForOTA %>, /**< 唤醒进行OTA的时间参数是时刻还是延时, RUNTIMEM_WAKEUP_PARAM_IS_XX */
    <%- processedcfg.wakeupTimeForData %>UL, /**< 下电多少秒之后(或什么时刻)唤醒进行数据传输 */
    <%- processedcfg.wakeupTimeForOTA %>UL, /**< 有OTA请求时, 下电多少秒之后(或什么时刻)唤醒进行程序OTA */
    <%- processedcfg.cpInvalidTimeFilter * 1000 %>UL, /**< CP无效的过滤时间， 单位ms */
    <%- processedcfg.maxOnTimeForData %>U, /**< DTU模式下, 数据传输最长的工作时间, 单位: 秒 */
    <%- processedcfg.maxOnTimeForOTA %>U, /**< DTU模式下, OTA最长的工作时间, 单位: 秒 */
    <%- Math.round(processedcfg.minBatteryVolForWakeup * 1000) %>U, /**< 运行唤醒进入DTU模块的最低低压供电电压, 单位:毫伏 */
    <%- processedcfg.chargeEndOTA ? "TRUE":"FALSE" %>,
    <%- processedcfg.userIsWakeup.func %>,
    CANIF_RX_RUNTIMEM, /**< dongleRxPduId */
    CANIF_TX_RUNTIMEM, /**< dongleTxPduId */
};
